<a href="https://colab.research.google.com/github/AndreDG88/anotacoes_python_curso_ebac/blob/main/introducao_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introdu√ß√£o √† Linguagem SQL**

SQL (Structured Query Language) √© a linguagem padr√£o para gerenciar e manipular bancos de dados relacionais. Ela permite a cria√ß√£o, consulta, atualiza√ß√£o e exclus√£o de dados de maneira eficiente. Bancos de dados como MySQL, PostgreSQL, SQL Server e Oracle utilizam SQL como sua principal linguagem de comunica√ß√£o.

## **1 - Comandos B√°sicos de SQL**

Os comandos SQL s√£o classificados em diferentes categorias, sendo as principais:

### **1.1 - DDL (Data Definition Language - Linguagem de Defini√ß√£o de Dados)**

- **CREATE TABLE** : Cria uma nova tabela no banco de dados.

In [ ]:
#Exemplo:
CREATE TABLE Produtos (
    ID INT PRIMARY KEY,
    Nome VARCHAR(100) NOT NULL,
    Preco DECIMAL(10,2) NOT NULL,
    Estoque INT DEFAULT 0
);

- **ALTER TABLE** : Modifica a estrutura de uma tabela existente.

In [ ]:
#Exemplo:
ALTER TABLE Produtos ADD Categoria VARCHAR(50);

- **DROP TABLE** : Remove uma tabela do banco de dados.

In [ ]:
#Exemplo:
DROP TABLE Produtos;

### **1.2 - DML (Data Manipulation Language - Linguagem de Manipula√ß√£o de Dados)**

- **INSERT INTO** : Insere novos registros em uma tabela.

In [ ]:
#Exemplo:
INSERT INTO Produtos (ID, Nome, Preco, Estoque) VALUES

- **UPDATE** : Atualiza registros existentes em uma tabela.

In [ ]:
#Exemplo:
UPDATE Produtos SET Preco = 279.99 WHERE ID = 1;

- **DELETE** : Remove registros de uma tabela.

In [ ]:
#Exemplo:
DELETE FROM Produtos WHERE ID = 1;

### **1.3 - DQL (Data Query Language - Linguagem de Consulta de Dados)**

- **SELECT** : Recupera dados de uma ou mais tabelas.

In [ ]:
#Exemplos:
SELECT * FROM Produtos WHERE Estoque > 0;

- **WHERE** : Filtrando Dados. O WHERE adiciona condi√ß√µes √† sua busca.

In [ ]:
#-- Clientes com nome 'Maria Oliveira'
SELECT * FROM Clientes WHERE Nome = 'Maria Oliveira';

#-- Clientes nascidos depois de 01/01/1990
SELECT * FROM Clientes WHERE DataNascimento > '1990-01-01';

Voc√™ tamb√©m pode usar operadores como:

- =, <>, >, <, >=, <=

- BETWEEN, IN, LIKE, IS NULL, AND, OR, NOT

In [ ]:
#-- Clientes cujo nome come√ßa com 'C'
SELECT * FROM Clientes WHERE Nome LIKE 'C%';

#-- Clientes com e-mails definidos
SELECT * FROM Clientes WHERE Email IS NOT NULL;

- **Subqueries (Subconsultas)** : Subqueries s√£o consultas dentro de outras consultas. Muito √∫teis para filtros mais complexos.

In [ ]:
#Exemplo 1: Filtrar por resultado de outra tabela

#-- Seleciona todos os pedidos feitos por clientes com o nome 'Jo√£o da Silva'
SELECT * FROM Pedidos
WHERE ClienteID = (
    SELECT ID FROM Clientes WHERE Nome = 'Jo√£o da Silva'
);

In [ ]:
#Exemplo 2: Usar subquery com m√∫ltiplos resultados

#-- Pedidos feitos por clientes com e-mails terminando em '@email.com'
SELECT * FROM Pedidos
WHERE ClienteID IN (
    SELECT ID FROM Clientes WHERE Email LIKE '%@email.com'
);

In [ ]:
#Exemplo 3: Subquery no SELECT

#-- Lista os pedidos com o nome do cliente
SELECT
    p.ID,
    (SELECT Nome FROM Clientes c WHERE c.ID = p.ClienteID) AS NomeCliente,
    p.Total
FROM Pedidos p;

### **1.4 - DCL (Data Control Language - Linguagem de Controle de Dados)**

- **GRANT** : Concede permiss√µes a usu√°rios.

In [ ]:
#Exemplo:
GRANT SELECT, INSERT ON Produtos TO usuario_teste;

- **REVOKE** : Remove permiss√µes de usu√°rios.

In [ ]:
#Exemplo:
REVOKE INSERT ON Produtos FROM usuario_teste;

### **1.5 - TCL (Transaction Control Language - Linguagem de Controle de Transa√ß√µes)**

- **COMMIT** : Salva todas as opera√ß√µes realizadas dentro de uma transa√ß√£o.

In [ ]:
#Exemplo:
BEGIN TRANSACTION;
UPDATE Produtos SET Estoque = Estoque - 1 WHERE ID = 1;
COMMIT;

- **ROLLBACK** : Desfaz opera√ß√µes dentro de uma transa√ß√£o.

In [ ]:
#Exemplo:
BEGIN TRANSACTION;
UPDATE Produtos SET Estoque = Estoque - 1 WHERE ID = 1;
ROLLBACK;

## **2 - Defini√ß√£o da Estrutura de um Banco de Dados (DDL)**

A estrutura de um banco de dados √© definida atrav√©s dos comandos DDL. O exemplo a seguir demonstra a cria√ß√£o de uma tabela Clientes:

In [ ]:
CREATE TABLE Clientes (
    ID INT PRIMARY KEY,
    Nome VARCHAR(100) NOT NULL,
    Email VARCHAR(150) UNIQUE,
    DataNascimento DATE,
    Telefone VARCHAR(15)
);

## **3 - Uso de Constraints em SQL**

Constraints (restri√ß√µes) s√£o regras aplicadas √†s colunas de uma tabela para garantir a integridade dos dados. Algumas das principais constraints s√£o:

- **PRIMARY KEY** : Garante que cada registro seja √∫nico e n√£o nulo.

- **FOREIGN KEY** : Estabelece um relacionamento entre tabelas.

- **NOT NULL** : Impede que uma coluna tenha valores nulos.

- **UNIQUE** : Garante que todos os valores em uma coluna sejam distintos.

- **CHECK** : Define uma condi√ß√£o que os valores devem atender.

- **DEFAULT** : Define um valor padr√£o para uma coluna.

Exemplo de uso de constraints:

In [ ]:
CREATE TABLE Pedidos (
    ID INT PRIMARY KEY,
    ClienteID INT,
    DataPedido DATE NOT NULL,
    Total DECIMAL(10,2) CHECK (Total > 0),
    FOREIGN KEY (ClienteID) REFERENCES Clientes(ID)
);

Esse c√≥digo cria a tabela Pedidos, garantindo que:

- O ID seja √∫nico e obrigat√≥rio (PRIMARY KEY).

- O ClienteID fa√ßa refer√™ncia a um cliente existente na
  tabela Clientes (FOREIGN KEY).

- A data do pedido n√£o possa ser nula.

- O total do pedido seja um n√∫mero positivo.

## **4 - O que s√£o Relacionamentos entre Tabelas?**

Em bancos de dados relacionais, os dados s√£o armazenados em tabelas separadas, mas muitas vezes essas tabelas precisam se relacionar entre si. Um relacionamento entre tabelas permite que voc√™ conecte os dados de forma l√≥gica, evitando redund√¢ncia e mantendo a integridade dos dados.

###**Tipos de Relacionamentos**

####**1. Um para Um (1:1)**

Cada registro de uma tabela est√° relacionado com um √∫nico registro de outra tabela.

**Exemplo:**

- Uma tabela Usuarios

- Uma tabela Documentos (cada usu√°rio tem apenas 1 documento)

In [ ]:
CREATE TABLE Usuarios (
    ID INT PRIMARY KEY,
    Nome VARCHAR(100)
);

CREATE TABLE Documentos (
    ID INT PRIMARY KEY,
    UsuarioID INT UNIQUE,
    CPF VARCHAR(11),
    FOREIGN KEY (UsuarioID) REFERENCES Usuarios(ID)
);

####**2. Um para Muitos (1:N) ‚úÖ Mais comum**

Um registro de uma tabela pode estar relacionado com v√°rios registros em outra tabela.

**Exemplo:**

- Um cliente pode fazer muitos pedidos.

- Tabela Clientes relacionada com a tabela Pedidos.

In [ ]:
CREATE TABLE Clientes (
    ID INT PRIMARY KEY,
    Nome VARCHAR(100)
);

CREATE TABLE Pedidos (
    ID INT PRIMARY KEY,
    ClienteID INT,
    DataPedido DATE,
    FOREIGN KEY (ClienteID) REFERENCES Clientes(ID)
);

**Isso significa:** para cada pedido, existe exatamente um cliente. Mas um cliente pode ter v√°rios pedidos.

####**3. Muitos para Muitos (N:N)**

Quando v√°rios registros de uma tabela se relacionam com v√°rios registros de outra. Isso exige uma tabela intermedi√°ria (tamb√©m chamada de tabela de jun√ß√£o).

**Exemplo:**

- Um aluno pode se matricular em v√°rias disciplinas.

- Uma disciplina pode ter v√°rios alunos.

In [ ]:
CREATE TABLE Alunos (
    ID INT PRIMARY KEY,
    Nome VARCHAR(100)
);

CREATE TABLE Disciplinas (
    ID INT PRIMARY KEY,
    Nome VARCHAR(100)
);

CREATE TABLE Matriculas (
    AlunoID INT,
    DisciplinaID INT,
    DataMatricula DATE,
    PRIMARY KEY (AlunoID, DisciplinaID),
    FOREIGN KEY (AlunoID) REFERENCES Alunos(ID),
    FOREIGN KEY (DisciplinaID) REFERENCES Disciplinas(ID)
);

A tabela Matriculas liga Alunos com Disciplinas.

###**üéØ Por que os relacionamentos s√£o importantes?**

- Evita dados duplicados (ex: repetir dados do cliente em cada pedido).

- Facilita manuten√ß√£o e atualiza√ß√µes (muda-se o dado em um lugar s√≥).

- Permite consultas complexas usando JOIN.

###**üîÑ Consultando Dados Relacionados (JOIN)**

In [ ]:
#Exemplo:
SELECT
	product.name AS product_name,
	SUM(stock.quantity) AS product_stock
FROM
	store.product
INNER JOIN store.stock USING (product_id)
GROUP BY
	product.name
ORDER BY
	product_stock DESC;

In [ ]:
‚úÖ **Exemplo de resultado esperado:**

product_name	                        | product_stock
______________________________________________________
Gigabyte AMD Radeon Rx 7600	          | 50
Galax GeForce RTX 4060	              | 30
Asus NVIDIA GeForce RTX 4060 V2	      | 20
Pcyes Radeon Rx 550 Dual Fan	        | 17

**Explica√ß√£o:**
- product.name: nome do produto

- SUM(stock.quantity): soma da quantidade de cada produto

- GROUP BY product.name: obrigat√≥rio, pois usamos product.name no SELECT

- ORDER BY product_stock DESC: ordena do maior para o menor estoque

####**1. JOIN (Jun√ß√£o de Tabelas)**

Une dados de duas ou mais tabelas com base em um campo comum (chave prim√°ria e estrangeira).

In [ ]:
#Exemplo
INNER JOIN store.stock USING (product_id)

**Aqui estamos dizendo:**

‚ÄúQuero combinar as tabelas product e stock, pegando somente os registros que t√™m product_id em comum.‚Äù

Exemplo de consulta usando INNER JOIN:

In [ ]:
#-- Buscar pedidos com nome do cliente
SELECT
    Pedidos.ID AS PedidoID,
    Clientes.Nome AS NomeCliente,
    Pedidos.DataPedido
FROM Pedidos
INNER JOIN Clientes ON Pedidos.ClienteID = Clientes.ID;

####**2. Fun√ß√£o de Agrega√ß√£o: SUM()**

Utilizada para somar valores de uma coluna num√©rica.

In [ ]:
SUM(stock.quantity) AS product_stock

Ou seja:

‚ÄúQuero somar todas as quantidades de estoque (quantity) para cada produto.‚Äù

####**3. Cl√°usula GROUP BY**

Agrupa os dados por um ou mais campos, permitindo usar fun√ß√µes de agrega√ß√£o como SUM(), AVG(), COUNT(), etc.

In [ ]:
GROUP BY product.name

Voc√™ agrupou os dados por nome de produto, ent√£o o SUM() vai calcular o total para cada produto individualmente.

**Regra importante:** toda coluna no SELECT que n√£o est√° dentro de uma fun√ß√£o de agrega√ß√£o (como SUM, AVG, etc) precisa estar no GROUP BY.

####**4. ORDER BY ... DESC**

Ordena os resultados da consulta.

In [ ]:
ORDER BY product_stock DESC

Quer dizer:

‚ÄúMostre os produtos com mais estoque primeiro.‚Äù

####**5. Alias (AS)**

Usamos AS para renomear colunas no resultado da consulta, facilitando a leitura:

In [ ]:
product.name AS product_name,
SUM(stock.quantity) AS product_stock

Sem o AS, os nomes das colunas seriam mais t√©cnicos ou repetitivos. Com AS, voc√™ d√° um nome mais amig√°vel.

####**6. Uso do USING (product_id)**

Em vez de fazer o JOIN assim:

In [ ]:
ON product.product_id = stock.product_id

Voc√™ usou:

In [ ]:
USING (product_id)

O USING √© um atalho que s√≥ funciona quando as colunas nas duas tabelas t√™m o mesmo nome ‚Äî √© mais limpo e leg√≠vel.

In [ ]:
‚úÖ Resumo Final

T√©cnica	          | Para qu√™?
-------------------------------------------------------------------------------------
JOIN	            | Juntar dados de product e stock
SUM()	            | Somar a quantidade de cada produto no estoque
GROUP BY          | Agrupar os dados por produto
ORDER BY ... DESC	| Mostrar os produtos com mais estoque primeiro
AS	              | Dar nomes mais amig√°veis √†s colunas do resultado
USING	            | Escrever um JOIN mais limpo quando os nomes das colunas coincidem

## **5 - O que √© agrega√ß√£o de dados?**

Agrega√ß√£o √© quando **resumimos ou agrupamos os dados** para obter informa√ß√µes mais relevantes. Por exemplo:

- Saber o total de vendas de um produto

- Contar quantos clientes fizeram pedidos

- Calcular a m√©dia de sal√°rios de um setor

Para isso, usamos **fun√ß√µes de agrega√ß√£o**, como:

In [ ]:
Fun√ß√£o	 | O que faz
---------------------------------
COUNT()	 | Conta quantas linhas
SUM()	   | Soma os valores
AVG()	   | Calcula a m√©dia
MAX()	   | Retorna o maior valor
MIN()	   | Retorna o menor valor

###**Exemplo de tabela: vendas**

In [ ]:
CREATE TABLE vendas (
    id SERIAL PRIMARY KEY,
    produto VARCHAR(50),
    categoria VARCHAR(50),
    preco NUMERIC,
    quantidade INT
);

E vamos imaginar alguns dados:

In [ ]:
  id | produto | categoria | preco | quantidade
------------------------------------------------
 1	 | Caneta	 | Papelaria | 2.50	 | 10
 2	 | L√°pis	 | Papelaria | 1.50	 | 20
 3	 | Caderno | Papelaria | 15.00 | 5
 4	 | Mochila | Mochilas  | 80.00 | 2

###**‚úÖ Fun√ß√µes de agrega√ß√£o b√°sicas**

Soma total de vendas (pre√ßo x quantidade)

In [ ]:
#Exemplo:
SELECT SUM(preco * quantidade) AS total_vendas FROM vendas;

**Explica√ß√£o:**

- A fun√ß√£o SUM() soma todos os resultados da express√£o preco * quantidade.

- preco * quantidade √© o valor de venda de cada produto (quanto custa √ó quantos foram vendidos).

- A soma dos valores √© feita sobre todas as linhas da tabela.

In [ ]:
(2.50 * 10) + (1.50 * 20) + (15.00 * 5) + (80.00 * 2)
= 25.00 + 30.00 + 75.00 + 160.00 = 290.00

**Resultado:**
total_vendas
290.00

###**üì¶ GROUP BY ‚Äì Agrupar dados por uma coluna**

Se quiser saber o total de vendas por categoria, usamos o GROUP BY:

In [ ]:
#Exemplo:
SELECT categoria, SUM(preco * quantidade) AS total_categoria
FROM vendas
GROUP BY categoria;

**Explica√ß√£o:**

- GROUP BY categoria agrupa as linhas da tabela por valor de categoria.

- Para cada grupo (Papelaria, Mochilas), ele calcula a soma do valor total de vendas.

- O SUM(preco * quantidade) √© calculado separadamente dentro de cada grupo.

**Grupos:**

**Grupo "Papelaria":**

- Caneta (2.50 √ó 10 = 25)

- L√°pis (1.50 √ó 20 = 30)

- Caderno (15.00 √ó 5 = 75)

Total: 25 + 30 + 75 = 130

**Grupo "Mochilas":**

- Mochila (80.00 √ó 2 = 160)

In [ ]:
Resultado:

categoria	 | total_categoria
Papelaria	 | 130.00
Mochilas	 | 160.00

###**üßΩ HAVING ‚Äì Filtro ap√≥s o GROUP BY**

Se quiser mostrar apenas as categorias com vendas acima de 100, usamos HAVING (porque WHERE n√£o funciona com agrega√ß√µes!):

In [ ]:
SELECT categoria, SUM(preco * quantidade) AS total_categoria
FROM vendas
GROUP BY categoria
HAVING SUM(preco * quantidade) > 100;

**Explica√ß√£o:**

- HAVING √© usado ap√≥s o GROUP BY.

- Ele filtra os resultados com base no valor agregado (ou seja, o SUM).

- Aqui, estamos dizendo: "Mostre s√≥ as categorias cujo total de vendas seja maior que 100".

**Verifica√ß√£o:**

- Papelaria = 130 ‚Üí passa

- Mochilas = 160 ‚Üí passa

In [ ]:
Resultado:

categoria	| total_categoria
Papelaria	| 130.00
Mochilas	| 160.00

###**üî† ORDER BY ‚Äì Ordenar resultados**

Ordena os resultados. Exemplo: mostrar os totais por categoria do maior para o menor:

In [ ]:
SELECT categoria, SUM(preco * quantidade) AS total_categoria
FROM vendas
GROUP BY categoria
ORDER BY total_categoria DESC;

**Explica√ß√£o:**

- ORDER BY total_categoria ordena os resultados com base no valor total de vendas.

- DESC = decrescente ‚Üí maior valor aparece primeiro.

In [ ]:
Resultado:

categoria	| total_categoria
Mochilas	| 160.00
Papelaria	| 130.00

###**üéØ DISTINCT ‚Äì Elimina valores repetidos**

Se quiser saber quais s√£o as categorias √∫nicas:

In [ ]:
SELECT DISTINCT categoria FROM vendas;

**Explica√ß√£o:**

- DISTINCT elimina valores repetidos na coluna selecionada.

- Mesmo que "Papelaria" apare√ßa v√°rias vezes na tabela, ele mostra apenas uma vez no resultado.

In [ ]:
Resultado:

categoria
Papelaria
Mochilas

DISTINCT funciona sem agrega√ß√£o tamb√©m!

###**üìÑ OFFSET e LIMIT ‚Äì Pagina√ß√£o de resultados**

- LIMIT define quantas linhas voc√™ quer ver

- OFFSET pula as primeiras N linhas

In [ ]:
SELECT * FROM vendas
ORDER BY id
LIMIT 2 OFFSET 2;

**Explica√ß√£o:**

- ORDER BY id: organiza os registros na ordem do id.

- OFFSET 2: pula os 2 primeiros registros (id 1 e 2).

- LIMIT 2: mostra os 2 pr√≥ximos registros.

**Ordem completa dos IDs:**

1 Caneta

2 L√°pis

3 Caderno

4 Mochila

O comando vai mostrar Caderno e Mochila (id 3 e 4).

In [ ]:
Resultado:

id	| produto	| categoria	| preco	| quantidade
3	  | Caderno	| Papelaria	| 15.00	| 5
4	  | Mochila	| Mochilas	| 80.00	| 2

###**Juntando tudo num exemplo:**

In [ ]:
SELECT categoria, SUM(preco * quantidade) AS total
FROM vendas
GROUP BY categoria
HAVING SUM(preco * quantidade) > 50
ORDER BY total DESC
LIMIT 5 OFFSET 0;

Vamos destrinchar por partes:

üü¶ 1. FROM vendas
Est√° puxando os dados da nossa tabela vendas.

üü¶ 2. GROUP BY categoria
Agrupa os registros pela coluna categoria. Ou seja:

Grupo 1: Papelaria

Caneta

L√°pis

Caderno

Grupo 2: Mochilas

Mochila

üü¶ 3. SUM(preco * quantidade)
Calcula o total de vendas por categoria:

Papelaria:

Caneta: 2.50 √ó 10 = 25

L√°pis: 1.50 √ó 20 = 30

Caderno: 15.00 √ó 5 = 75
üëâ Total = 130

Mochilas:

Mochila: 80.00 √ó 2 = 160
üëâ Total = 160

üü¶ 4. HAVING SUM(preco * quantidade) > 50
Filtra para mostrar apenas as categorias cujo total de vendas seja maior que 50.

Ambas categorias passam:

Papelaria = 130 ‚úÖ

Mochilas = 160 ‚úÖ

üü¶ 5. ORDER BY total DESC
Ordena os resultados de maior total para menor:

Mochilas (160)

Papelaria (130)

üü¶ 6. LIMIT 5 OFFSET 0
LIMIT 5: mostra no m√°ximo 5 resultados

OFFSET 0: come√ßa do primeiro (sem pular nenhum)

Como s√≥ temos 2 categorias no total, ele mostra essas 2.

In [ ]:
Resultado final:
categoria	| total
Mochilas	| 160
Papelaria	| 130

## **6- üìö O que s√£o √çndices em SQL?**

Um √≠ndice em banco de dados funciona como o √≠ndice de um livro: ele acelera a busca por informa√ß√µes.

**üîç Sem √≠ndice:**

Imagine uma tabela com milh√µes de registros. Quando voc√™ faz uma consulta com WHERE, o banco precisa olhar linha por linha para achar os dados.

**‚ö° Com √≠ndice:**

O banco usa o √≠ndice (como um mapa r√°pido) para encontrar os dados sem precisar varrer toda a tabela.

‚úÖ Quando Criar um √çndice?
- Colunas usadas com filtros no WHERE

- Colunas usadas em JOIN

- Colunas com uso frequente em ORDER BY

- Colunas √∫nicas (ex: CPF, e-mail)

###**üõ†Ô∏è Como Criar um √çndice no PostgreSQL**

In [ ]:
CREATE INDEX idx_clientes_nome
ON Clientes (Nome);

Esse √≠ndice melhora buscas como:

In [ ]:
SELECT * FROM Clientes WHERE Nome = 'Jo√£o';

**üßπ Remover um √çndice**

In [ ]:
DROP INDEX idx_clientes_nome;

**üÜô √çndices √önicos**

J√° viu isso antes? Ele garante que os valores da coluna sejam √∫nicos, al√©m de melhorar performance:

In [ ]:
CREATE UNIQUE INDEX idx_clientes_email
ON Clientes (Email);

**üìå √çndices em M√∫ltiplas Colunas**

Se voc√™ sempre busca por duas colunas ao mesmo tempo, pode index√°-las juntas:

In [ ]:
CREATE INDEX idx_pedidos_cliente_data
ON Pedidos (ClienteID, DataPedido);

**üîé Verificando √çndices Existentes**

No PostgreSQL:

In [ ]:
-- Lista os √≠ndices de uma tabela
SELECT * FROM pg_indexes WHERE tablename = 'clientes';

Ou use o comando \di no terminal do psql.

###**üö® Cuidado: Nem Sempre √çndice √© Bom**

- Eles ocupam espa√ßo em disco.

- Podem deixar inser√ß√µes e atualiza√ß√µes mais lentas, pois o √≠ndice precisa ser atualizado tamb√©m.

- N√£o crie √≠ndice em tudo ‚Äî s√≥ onde h√° ganho real de performance

###**üß† Exemplo Pr√°tico**

In [ ]:
CREATE TABLE Produtos (
    ID SERIAL PRIMARY KEY,
    Nome VARCHAR(100),
    Preco DECIMAL(10,2)
);

CREATE INDEX idx_produtos_nome ON Produtos (Nome);

-- Consulta otimizada pelo √≠ndice:
SELECT * FROM Produtos WHERE Nome = 'Mouse Gamer';

###**Tipos de √çndice**

**üß© 1. B-Tree (√çndice padr√£o)**

üìå Uso:

- Opera√ß√µes com =, <, >, <=, >=, BETWEEN.

- Ordena√ß√µes (ORDER BY).

üß™ Exemplo:

In [ ]:
CREATE INDEX idx_clientes_nome
ON Clientes (Nome);

‚úÖ Ideal para:

- Dados orden√°veis.

- Pesquisas por faixa (ex: datas, pre√ßos).

------------------------------------------------------------

**üî° 2. Hash**

üìå Uso:

- Apenas para igualdade (=).

- Mais r√°pido que B-tree para buscas exatas.

üß™ Exemplo:

In [ ]:
CREATE INDEX idx_usuarios_email_hash
ON Usuarios USING HASH (Email);

‚ö†Ô∏è Observa√ß√µes:

- N√£o funciona com ordena√ß√µes nem compara√ß√£o.

- Menos usado que B-tree, mas √∫til em casos muito espec√≠ficos.

------------------------------------------------------------

**üî† 3. GIN (Generalized Inverted Index)**

üìå Uso:

- Ideal para arrays, jsonb, busca textual (full-text search).

üß™ Exemplo com jsonb:

In [ ]:
CREATE INDEX idx_pedidos_dados_gin
ON Pedidos USING GIN (dados_jsonb);

üß™ Exemplo com busca textual:

In [ ]:
CREATE INDEX idx_artigos_conteudo
ON Artigos USING GIN (to_tsvector('portuguese', conteudo));

‚úÖ Ideal para:

- Textos longos.

- Campos com m√∫ltiplos valores (listas, arrays).

------------------------------------------------------------

**üå≥ 4. GiST (Generalized Search Tree)**

üìå Uso:

- Ideal para pesquisas espaciais, intervalos, ou dados complexos como geometria.

üß™ Exemplo com coordenadas:

In [ ]:
CREATE INDEX idx_localizacao_gist
ON Localizacoes USING GiST (geometria);

‚úÖ Ideal para:

- Dados geogr√°ficos (GIS).

- Pesquisas por proximidade.

------------------------------------------------------------

**üß† 5. SP-GiST (Space-partitioned GiST)**

üìå Uso:

Similar ao GiST, mas mais eficiente em certos tipos de dados como √°rvores ou grafos.

‚úÖ Ideal para:

Estruturas com alto grau de ramifica√ß√£o ou n√£o-uniformes.

------------------------------------------------------------

**üì¶ 6. BRIN (Block Range Index)**

üìå Uso:

Indexa blocos de dados, n√£o linhas individuais.

‚úÖ Ideal para:

Tabelas muito grandes com dados ordenados fisicamente (ex: por data).

Economiza muito espa√ßo.

üß™ Exemplo:

In [ ]:
CREATE INDEX idx_logs_data_brin
ON Logs USING BRIN (data_evento);

###**Explain Analyze**

Vamos falar sobre uma ferramenta essencial para performance em SQL, especialmente no PostgreSQL: o comando EXPLAIN ANALYZE. Ele √© como uma lupa que mostra o que o banco de dados est√° fazendo por tr√°s das consultas.

**üîç O que √© EXPLAIN?**

O comando EXPLAIN mostra o plano de execu√ß√£o que o PostgreSQL usar√° para realizar uma consulta.

Ele responde perguntas como:

- O PostgreSQL vai fazer um scan completo da tabela ou usar um √≠ndice?

- Vai fazer JOINs, filtros, ordena√ß√µes?

- Qual ser√° o custo estimado dessa opera√ß√£o?

**üöÄ O que √© EXPLAIN ANALYZE?**

Enquanto EXPLAIN prev√™ o que ser√° feito, EXPLAIN ANALYZE executa realmente a consulta e mede:

- O tempo real gasto em cada etapa.

- A quantidade de linhas processadas.

- Se os estimadores estavam corretos ou n√£o.

√â ideal para diagnosticar gargalos de performance!

**üìò Sintaxe B√°sica**

In [ ]:
EXPLAIN ANALYZE
SELECT * FROM Clientes WHERE Nome = 'Jo√£o';

**üß† Exemplo Interpretado**

In [ ]:
EXPLAIN ANALYZE
SELECT * FROM Produtos WHERE Nome = 'Mouse Gamer';

üîç Sa√≠da (exemplo):

In [ ]:
Seq Scan on produtos  (cost=0.00..35.50 rows=5 width=42) (actual time=0.023..0.024 rows=1 loops=1)
  Filter: (nome = 'Mouse Gamer'::text)
  Rows Removed by Filter: 99
Planning Time: 0.060 ms
Execution Time: 0.040 ms

üß© O que tudo isso significa?

In [ ]:
#Campo	                    #Significado
Seq Scan	                | Foi feito um scan sequencial (linha por linha). N√£o usou √≠ndice.
cost=0.00..35.50	        | Custo estimado (inicial..final) da consulta.
rows=5	                  | Estimativa de linhas que seriam retornadas.
actual time=0.023..0.024	| Tempo real gasto na execu√ß√£o da consulta.
Rows Removed by Filter	  | Quantas linhas foram avaliadas mas descartadas pelo WHERE.
Execution Time	          | Tempo total da consulta (em milissegundos).

**‚ö° Por que usar EXPLAIN ANALYZE?**

- Para descobrir se seus √≠ndices est√£o sendo usados.

- Para detectar scans desnecess√°rios.

- Para melhorar consultas lentas.

- Para entender como o PostgreSQL processa subqueries, joins, agrupamentos etc.

**üõ†Ô∏è Dicas de uso**

- 1 Use com cautela: o comando executa a consulta de verdade, ent√£o evite em comandos que alteram dados como DELETE, UPDATE.

- 2 Para esses casos, voc√™ pode usar:

In [ ]:
EXPLAIN ANALYZE
SELECT * FROM Pedidos WHERE ClienteID = 42;

- 3 Para UPDATE, use uma transa√ß√£o de teste ou o ROLLBACK depois.

**üß™ Exemplo com JOIN**

In [ ]:
EXPLAIN ANALYZE
SELECT p.ID, p.DataPedido, c.Nome
FROM Pedidos p
JOIN Clientes c ON p.ClienteID = c.ID
WHERE c.Nome = 'Maria Oliveira';

Voc√™ vai ver se o PostgreSQL est√° fazendo:

- Nested Loop

- Hash Join

- Index Scan ou Seq Scan