<a href="https://colab.research.google.com/github/AndreDG88/anotacoes_python_curso_ebac/blob/main/introducao_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introdução à Linguagem SQL**

SQL (Structured Query Language) é a linguagem padrão para gerenciar e manipular bancos de dados relacionais. Ela permite a criação, consulta, atualização e exclusão de dados de maneira eficiente. Bancos de dados como MySQL, PostgreSQL, SQL Server e Oracle utilizam SQL como sua principal linguagem de comunicação.

## **1 - Comandos Básicos de SQL**

Os comandos SQL são classificados em diferentes categorias, sendo as principais:

### **1.1 - DDL (Data Definition Language - Linguagem de Definição de Dados)**

- **CREATE TABLE** : Cria uma nova tabela no banco de dados.

In [ ]:
#Exemplo:
CREATE TABLE Produtos (
    ID INT PRIMARY KEY,
    Nome VARCHAR(100) NOT NULL,
    Preco DECIMAL(10,2) NOT NULL,
    Estoque INT DEFAULT 0
);

- **ALTER TABLE** : Modifica a estrutura de uma tabela existente.

In [ ]:
#Exemplo:
ALTER TABLE Produtos ADD Categoria VARCHAR(50);

- **DROP TABLE** : Remove uma tabela do banco de dados.

In [ ]:
#Exemplo:
DROP TABLE Produtos;

### **1.2 - DML (Data Manipulation Language - Linguagem de Manipulação de Dados)**

- **INSERT INTO** : Insere novos registros em uma tabela.

In [ ]:
#Exemplo:
INSERT INTO Produtos (ID, Nome, Preco, Estoque) VALUES

- **UPDATE** : Atualiza registros existentes em uma tabela.

In [ ]:
#Exemplo:
UPDATE Produtos SET Preco = 279.99 WHERE ID = 1;

- **DELETE** : Remove registros de uma tabela.

In [ ]:
#Exemplo:
DELETE FROM Produtos WHERE ID = 1;

### **1.3 - DQL (Data Query Language - Linguagem de Consulta de Dados)**

- **SELECT** : Recupera dados de uma ou mais tabelas.

In [ ]:
#Exemplos:
SELECT * FROM Produtos WHERE Estoque > 0;

- **WHERE** : Filtrando Dados. O WHERE adiciona condições à sua busca.

In [ ]:
#-- Clientes com nome 'Maria Oliveira'
SELECT * FROM Clientes WHERE Nome = 'Maria Oliveira';

#-- Clientes nascidos depois de 01/01/1990
SELECT * FROM Clientes WHERE DataNascimento > '1990-01-01';

Você também pode usar operadores como:

- =, <>, >, <, >=, <=

- BETWEEN, IN, LIKE, IS NULL, AND, OR, NOT

In [ ]:
#-- Clientes cujo nome começa com 'C'
SELECT * FROM Clientes WHERE Nome LIKE 'C%';

#-- Clientes com e-mails definidos
SELECT * FROM Clientes WHERE Email IS NOT NULL;

- **Subqueries (Subconsultas)** : Subqueries são consultas dentro de outras consultas. Muito úteis para filtros mais complexos.

In [ ]:
#Exemplo 1: Filtrar por resultado de outra tabela

#-- Seleciona todos os pedidos feitos por clientes com o nome 'João da Silva'
SELECT * FROM Pedidos
WHERE ClienteID = (
    SELECT ID FROM Clientes WHERE Nome = 'João da Silva'
);

In [ ]:
#Exemplo 2: Usar subquery com múltiplos resultados

#-- Pedidos feitos por clientes com e-mails terminando em '@email.com'
SELECT * FROM Pedidos
WHERE ClienteID IN (
    SELECT ID FROM Clientes WHERE Email LIKE '%@email.com'
);

In [ ]:
#Exemplo 3: Subquery no SELECT

#-- Lista os pedidos com o nome do cliente
SELECT
    p.ID,
    (SELECT Nome FROM Clientes c WHERE c.ID = p.ClienteID) AS NomeCliente,
    p.Total
FROM Pedidos p;

### **1.4 - DCL (Data Control Language - Linguagem de Controle de Dados)**

- **GRANT** : Concede permissões a usuários.

In [ ]:
#Exemplo:
GRANT SELECT, INSERT ON Produtos TO usuario_teste;

- **REVOKE** : Remove permissões de usuários.

In [ ]:
#Exemplo:
REVOKE INSERT ON Produtos FROM usuario_teste;

### **1.5 - TCL (Transaction Control Language - Linguagem de Controle de Transações)**

- **COMMIT** : Salva todas as operações realizadas dentro de uma transação.

In [ ]:
#Exemplo:
BEGIN TRANSACTION;
UPDATE Produtos SET Estoque = Estoque - 1 WHERE ID = 1;
COMMIT;

- **ROLLBACK** : Desfaz operações dentro de uma transação.

In [ ]:
#Exemplo:
BEGIN TRANSACTION;
UPDATE Produtos SET Estoque = Estoque - 1 WHERE ID = 1;
ROLLBACK;

## **2 - Definição da Estrutura de um Banco de Dados (DDL)**

A estrutura de um banco de dados é definida através dos comandos DDL. O exemplo a seguir demonstra a criação de uma tabela Clientes:

In [ ]:
CREATE TABLE Clientes (
    ID INT PRIMARY KEY,
    Nome VARCHAR(100) NOT NULL,
    Email VARCHAR(150) UNIQUE,
    DataNascimento DATE,
    Telefone VARCHAR(15)
);

## **3 - Uso de Constraints em SQL**

Constraints (restrições) são regras aplicadas às colunas de uma tabela para garantir a integridade dos dados. Algumas das principais constraints são:

- **PRIMARY KEY** : Garante que cada registro seja único e não nulo.

- **FOREIGN KEY** : Estabelece um relacionamento entre tabelas.

- **NOT NULL** : Impede que uma coluna tenha valores nulos.

- **UNIQUE** : Garante que todos os valores em uma coluna sejam distintos.

- **CHECK** : Define uma condição que os valores devem atender.

- **DEFAULT** : Define um valor padrão para uma coluna.

Exemplo de uso de constraints:

In [ ]:
CREATE TABLE Pedidos (
    ID INT PRIMARY KEY,
    ClienteID INT,
    DataPedido DATE NOT NULL,
    Total DECIMAL(10,2) CHECK (Total > 0),
    FOREIGN KEY (ClienteID) REFERENCES Clientes(ID)
);

Esse código cria a tabela Pedidos, garantindo que:

- O ID seja único e obrigatório (PRIMARY KEY).

- O ClienteID faça referência a um cliente existente na
  tabela Clientes (FOREIGN KEY).

- A data do pedido não possa ser nula.

- O total do pedido seja um número positivo.

## **4 - O que são Relacionamentos entre Tabelas?**

Em bancos de dados relacionais, os dados são armazenados em tabelas separadas, mas muitas vezes essas tabelas precisam se relacionar entre si. Um relacionamento entre tabelas permite que você conecte os dados de forma lógica, evitando redundância e mantendo a integridade dos dados.

###**Tipos de Relacionamentos**

####**1. Um para Um (1:1)**

Cada registro de uma tabela está relacionado com um único registro de outra tabela.

**Exemplo:**

- Uma tabela Usuarios

- Uma tabela Documentos (cada usuário tem apenas 1 documento)

In [ ]:
CREATE TABLE Usuarios (
    ID INT PRIMARY KEY,
    Nome VARCHAR(100)
);

CREATE TABLE Documentos (
    ID INT PRIMARY KEY,
    UsuarioID INT UNIQUE,
    CPF VARCHAR(11),
    FOREIGN KEY (UsuarioID) REFERENCES Usuarios(ID)
);

####**2. Um para Muitos (1:N) ✅ Mais comum**

Um registro de uma tabela pode estar relacionado com vários registros em outra tabela.

**Exemplo:**

- Um cliente pode fazer muitos pedidos.

- Tabela Clientes relacionada com a tabela Pedidos.

In [ ]:
CREATE TABLE Clientes (
    ID INT PRIMARY KEY,
    Nome VARCHAR(100)
);

CREATE TABLE Pedidos (
    ID INT PRIMARY KEY,
    ClienteID INT,
    DataPedido DATE,
    FOREIGN KEY (ClienteID) REFERENCES Clientes(ID)
);

**Isso significa:** para cada pedido, existe exatamente um cliente. Mas um cliente pode ter vários pedidos.

####**3. Muitos para Muitos (N:N)**

Quando vários registros de uma tabela se relacionam com vários registros de outra. Isso exige uma tabela intermediária (também chamada de tabela de junção).

**Exemplo:**

- Um aluno pode se matricular em várias disciplinas.

- Uma disciplina pode ter vários alunos.

In [ ]:
CREATE TABLE Alunos (
    ID INT PRIMARY KEY,
    Nome VARCHAR(100)
);

CREATE TABLE Disciplinas (
    ID INT PRIMARY KEY,
    Nome VARCHAR(100)
);

CREATE TABLE Matriculas (
    AlunoID INT,
    DisciplinaID INT,
    DataMatricula DATE,
    PRIMARY KEY (AlunoID, DisciplinaID),
    FOREIGN KEY (AlunoID) REFERENCES Alunos(ID),
    FOREIGN KEY (DisciplinaID) REFERENCES Disciplinas(ID)
);

A tabela Matriculas liga Alunos com Disciplinas.

###**🎯 Por que os relacionamentos são importantes?**

- Evita dados duplicados (ex: repetir dados do cliente em cada pedido).

- Facilita manutenção e atualizações (muda-se o dado em um lugar só).

- Permite consultas complexas usando JOIN.

###**🔄 Consultando Dados Relacionados (JOIN)**

In [ ]:
#Exemplo:
SELECT
	product.name AS product_name,
	SUM(stock.quantity) AS product_stock
FROM
	store.product
INNER JOIN store.stock USING (product_id)
GROUP BY
	product.name
ORDER BY
	product_stock DESC;

In [ ]:
✅ **Exemplo de resultado esperado:**

product_name	                        | product_stock
______________________________________________________
Gigabyte AMD Radeon Rx 7600	          | 50
Galax GeForce RTX 4060	              | 30
Asus NVIDIA GeForce RTX 4060 V2	      | 20
Pcyes Radeon Rx 550 Dual Fan	        | 17

**Explicação:**
- product.name: nome do produto

- SUM(stock.quantity): soma da quantidade de cada produto

- GROUP BY product.name: obrigatório, pois usamos product.name no SELECT

- ORDER BY product_stock DESC: ordena do maior para o menor estoque

####**1. JOIN (Junção de Tabelas)**

Une dados de duas ou mais tabelas com base em um campo comum (chave primária e estrangeira).

In [ ]:
#Exemplo
INNER JOIN store.stock USING (product_id)

**Aqui estamos dizendo:**

“Quero combinar as tabelas product e stock, pegando somente os registros que têm product_id em comum.”

Exemplo de consulta usando INNER JOIN:

In [ ]:
#-- Buscar pedidos com nome do cliente
SELECT
    Pedidos.ID AS PedidoID,
    Clientes.Nome AS NomeCliente,
    Pedidos.DataPedido
FROM Pedidos
INNER JOIN Clientes ON Pedidos.ClienteID = Clientes.ID;

####**2. Função de Agregação: SUM()**

Utilizada para somar valores de uma coluna numérica.

In [ ]:
SUM(stock.quantity) AS product_stock

Ou seja:

“Quero somar todas as quantidades de estoque (quantity) para cada produto.”

####**3. Cláusula GROUP BY**

Agrupa os dados por um ou mais campos, permitindo usar funções de agregação como SUM(), AVG(), COUNT(), etc.

In [ ]:
GROUP BY product.name

Você agrupou os dados por nome de produto, então o SUM() vai calcular o total para cada produto individualmente.

**Regra importante:** toda coluna no SELECT que não está dentro de uma função de agregação (como SUM, AVG, etc) precisa estar no GROUP BY.

####**4. ORDER BY ... DESC**

Ordena os resultados da consulta.

In [ ]:
ORDER BY product_stock DESC

Quer dizer:

“Mostre os produtos com mais estoque primeiro.”

####**5. Alias (AS)**

Usamos AS para renomear colunas no resultado da consulta, facilitando a leitura:

In [ ]:
product.name AS product_name,
SUM(stock.quantity) AS product_stock

Sem o AS, os nomes das colunas seriam mais técnicos ou repetitivos. Com AS, você dá um nome mais amigável.

####**6. Uso do USING (product_id)**

Em vez de fazer o JOIN assim:

In [ ]:
ON product.product_id = stock.product_id

Você usou:

In [ ]:
USING (product_id)

O USING é um atalho que só funciona quando as colunas nas duas tabelas têm o mesmo nome — é mais limpo e legível.

In [ ]:
✅ Resumo Final

Técnica	          | Para quê?
-------------------------------------------------------------------------------------
JOIN	            | Juntar dados de product e stock
SUM()	            | Somar a quantidade de cada produto no estoque
GROUP BY          | Agrupar os dados por produto
ORDER BY ... DESC	| Mostrar os produtos com mais estoque primeiro
AS	              | Dar nomes mais amigáveis às colunas do resultado
USING	            | Escrever um JOIN mais limpo quando os nomes das colunas coincidem

## **5 - O que é agregação de dados?**

Agregação é quando **resumimos ou agrupamos os dados** para obter informações mais relevantes. Por exemplo:

- Saber o total de vendas de um produto

- Contar quantos clientes fizeram pedidos

- Calcular a média de salários de um setor

Para isso, usamos **funções de agregação**, como:

In [ ]:
Função	 | O que faz
---------------------------------
COUNT()	 | Conta quantas linhas
SUM()	   | Soma os valores
AVG()	   | Calcula a média
MAX()	   | Retorna o maior valor
MIN()	   | Retorna o menor valor

###**Exemplo de tabela: vendas**

In [ ]:
CREATE TABLE vendas (
    id SERIAL PRIMARY KEY,
    produto VARCHAR(50),
    categoria VARCHAR(50),
    preco NUMERIC,
    quantidade INT
);

E vamos imaginar alguns dados:

In [ ]:
  id | produto | categoria | preco | quantidade
------------------------------------------------
 1	 | Caneta	 | Papelaria | 2.50	 | 10
 2	 | Lápis	 | Papelaria | 1.50	 | 20
 3	 | Caderno | Papelaria | 15.00 | 5
 4	 | Mochila | Mochilas  | 80.00 | 2

###**✅ Funções de agregação básicas**

Soma total de vendas (preço x quantidade)

In [ ]:
#Exemplo:
SELECT SUM(preco * quantidade) AS total_vendas FROM vendas;

**Explicação:**

- A função SUM() soma todos os resultados da expressão preco * quantidade.

- preco * quantidade é o valor de venda de cada produto (quanto custa × quantos foram vendidos).

- A soma dos valores é feita sobre todas as linhas da tabela.

In [ ]:
(2.50 * 10) + (1.50 * 20) + (15.00 * 5) + (80.00 * 2)
= 25.00 + 30.00 + 75.00 + 160.00 = 290.00

**Resultado:**
total_vendas
290.00

###**📦 GROUP BY – Agrupar dados por uma coluna**

Se quiser saber o total de vendas por categoria, usamos o GROUP BY:

In [ ]:
#Exemplo:
SELECT categoria, SUM(preco * quantidade) AS total_categoria
FROM vendas
GROUP BY categoria;

**Explicação:**

- GROUP BY categoria agrupa as linhas da tabela por valor de categoria.

- Para cada grupo (Papelaria, Mochilas), ele calcula a soma do valor total de vendas.

- O SUM(preco * quantidade) é calculado separadamente dentro de cada grupo.

**Grupos:**

**Grupo "Papelaria":**

- Caneta (2.50 × 10 = 25)

- Lápis (1.50 × 20 = 30)

- Caderno (15.00 × 5 = 75)

Total: 25 + 30 + 75 = 130

**Grupo "Mochilas":**

- Mochila (80.00 × 2 = 160)

In [ ]:
Resultado:

categoria	 | total_categoria
Papelaria	 | 130.00
Mochilas	 | 160.00

###**🧽 HAVING – Filtro após o GROUP BY**

Se quiser mostrar apenas as categorias com vendas acima de 100, usamos HAVING (porque WHERE não funciona com agregações!):

In [ ]:
SELECT categoria, SUM(preco * quantidade) AS total_categoria
FROM vendas
GROUP BY categoria
HAVING SUM(preco * quantidade) > 100;

**Explicação:**

- HAVING é usado após o GROUP BY.

- Ele filtra os resultados com base no valor agregado (ou seja, o SUM).

- Aqui, estamos dizendo: "Mostre só as categorias cujo total de vendas seja maior que 100".

**Verificação:**

- Papelaria = 130 → passa

- Mochilas = 160 → passa

In [ ]:
Resultado:

categoria	| total_categoria
Papelaria	| 130.00
Mochilas	| 160.00

###**🔠 ORDER BY – Ordenar resultados**

Ordena os resultados. Exemplo: mostrar os totais por categoria do maior para o menor:

In [ ]:
SELECT categoria, SUM(preco * quantidade) AS total_categoria
FROM vendas
GROUP BY categoria
ORDER BY total_categoria DESC;

**Explicação:**

- ORDER BY total_categoria ordena os resultados com base no valor total de vendas.

- DESC = decrescente → maior valor aparece primeiro.

In [ ]:
Resultado:

categoria	| total_categoria
Mochilas	| 160.00
Papelaria	| 130.00

###**🎯 DISTINCT – Elimina valores repetidos**

Se quiser saber quais são as categorias únicas:

In [ ]:
SELECT DISTINCT categoria FROM vendas;

**Explicação:**

- DISTINCT elimina valores repetidos na coluna selecionada.

- Mesmo que "Papelaria" apareça várias vezes na tabela, ele mostra apenas uma vez no resultado.

In [ ]:
Resultado:

categoria
Papelaria
Mochilas

DISTINCT funciona sem agregação também!

###**📄 OFFSET e LIMIT – Paginação de resultados**

- LIMIT define quantas linhas você quer ver

- OFFSET pula as primeiras N linhas

In [ ]:
SELECT * FROM vendas
ORDER BY id
LIMIT 2 OFFSET 2;

**Explicação:**

- ORDER BY id: organiza os registros na ordem do id.

- OFFSET 2: pula os 2 primeiros registros (id 1 e 2).

- LIMIT 2: mostra os 2 próximos registros.

**Ordem completa dos IDs:**

1 Caneta

2 Lápis

3 Caderno

4 Mochila

O comando vai mostrar Caderno e Mochila (id 3 e 4).

In [ ]:
Resultado:

id	| produto	| categoria	| preco	| quantidade
3	  | Caderno	| Papelaria	| 15.00	| 5
4	  | Mochila	| Mochilas	| 80.00	| 2

###**Juntando tudo num exemplo:**

In [ ]:
SELECT categoria, SUM(preco * quantidade) AS total
FROM vendas
GROUP BY categoria
HAVING SUM(preco * quantidade) > 50
ORDER BY total DESC
LIMIT 5 OFFSET 0;

Vamos destrinchar por partes:

🟦 1. FROM vendas
Está puxando os dados da nossa tabela vendas.

🟦 2. GROUP BY categoria
Agrupa os registros pela coluna categoria. Ou seja:

Grupo 1: Papelaria

Caneta

Lápis

Caderno

Grupo 2: Mochilas

Mochila

🟦 3. SUM(preco * quantidade)
Calcula o total de vendas por categoria:

Papelaria:

Caneta: 2.50 × 10 = 25

Lápis: 1.50 × 20 = 30

Caderno: 15.00 × 5 = 75
👉 Total = 130

Mochilas:

Mochila: 80.00 × 2 = 160
👉 Total = 160

🟦 4. HAVING SUM(preco * quantidade) > 50
Filtra para mostrar apenas as categorias cujo total de vendas seja maior que 50.

Ambas categorias passam:

Papelaria = 130 ✅

Mochilas = 160 ✅

🟦 5. ORDER BY total DESC
Ordena os resultados de maior total para menor:

Mochilas (160)

Papelaria (130)

🟦 6. LIMIT 5 OFFSET 0
LIMIT 5: mostra no máximo 5 resultados

OFFSET 0: começa do primeiro (sem pular nenhum)

Como só temos 2 categorias no total, ele mostra essas 2.

In [ ]:
Resultado final:
categoria	| total
Mochilas	| 160
Papelaria	| 130

## **6- 📚 O que são Índices em SQL?**

Um índice em banco de dados funciona como o índice de um livro: ele acelera a busca por informações.

**🔍 Sem índice:**

Imagine uma tabela com milhões de registros. Quando você faz uma consulta com WHERE, o banco precisa olhar linha por linha para achar os dados.

**⚡ Com índice:**

O banco usa o índice (como um mapa rápido) para encontrar os dados sem precisar varrer toda a tabela.

✅ Quando Criar um Índice?
- Colunas usadas com filtros no WHERE

- Colunas usadas em JOIN

- Colunas com uso frequente em ORDER BY

- Colunas únicas (ex: CPF, e-mail)

###**🛠️ Como Criar um Índice no PostgreSQL**

In [ ]:
CREATE INDEX idx_clientes_nome
ON Clientes (Nome);

Esse índice melhora buscas como:

In [ ]:
SELECT * FROM Clientes WHERE Nome = 'João';

**🧹 Remover um Índice**

In [ ]:
DROP INDEX idx_clientes_nome;

**🆙 Índices Únicos**

Já viu isso antes? Ele garante que os valores da coluna sejam únicos, além de melhorar performance:

In [ ]:
CREATE UNIQUE INDEX idx_clientes_email
ON Clientes (Email);

**📌 Índices em Múltiplas Colunas**

Se você sempre busca por duas colunas ao mesmo tempo, pode indexá-las juntas:

In [ ]:
CREATE INDEX idx_pedidos_cliente_data
ON Pedidos (ClienteID, DataPedido);

**🔎 Verificando Índices Existentes**

No PostgreSQL:

In [ ]:
-- Lista os índices de uma tabela
SELECT * FROM pg_indexes WHERE tablename = 'clientes';

Ou use o comando \di no terminal do psql.

###**🚨 Cuidado: Nem Sempre Índice é Bom**

- Eles ocupam espaço em disco.

- Podem deixar inserções e atualizações mais lentas, pois o índice precisa ser atualizado também.

- Não crie índice em tudo — só onde há ganho real de performance

###**🧠 Exemplo Prático**

In [ ]:
CREATE TABLE Produtos (
    ID SERIAL PRIMARY KEY,
    Nome VARCHAR(100),
    Preco DECIMAL(10,2)
);

CREATE INDEX idx_produtos_nome ON Produtos (Nome);

-- Consulta otimizada pelo índice:
SELECT * FROM Produtos WHERE Nome = 'Mouse Gamer';

###**Tipos de Índice**

**🧩 1. B-Tree (Índice padrão)**

📌 Uso:

- Operações com =, <, >, <=, >=, BETWEEN.

- Ordenações (ORDER BY).

🧪 Exemplo:

In [ ]:
CREATE INDEX idx_clientes_nome
ON Clientes (Nome);

✅ Ideal para:

- Dados ordenáveis.

- Pesquisas por faixa (ex: datas, preços).

------------------------------------------------------------

**🔡 2. Hash**

📌 Uso:

- Apenas para igualdade (=).

- Mais rápido que B-tree para buscas exatas.

🧪 Exemplo:

In [ ]:
CREATE INDEX idx_usuarios_email_hash
ON Usuarios USING HASH (Email);

⚠️ Observações:

- Não funciona com ordenações nem comparação.

- Menos usado que B-tree, mas útil em casos muito específicos.

------------------------------------------------------------

**🔠 3. GIN (Generalized Inverted Index)**

📌 Uso:

- Ideal para arrays, jsonb, busca textual (full-text search).

🧪 Exemplo com jsonb:

In [ ]:
CREATE INDEX idx_pedidos_dados_gin
ON Pedidos USING GIN (dados_jsonb);

🧪 Exemplo com busca textual:

In [ ]:
CREATE INDEX idx_artigos_conteudo
ON Artigos USING GIN (to_tsvector('portuguese', conteudo));

✅ Ideal para:

- Textos longos.

- Campos com múltiplos valores (listas, arrays).

------------------------------------------------------------

**🌳 4. GiST (Generalized Search Tree)**

📌 Uso:

- Ideal para pesquisas espaciais, intervalos, ou dados complexos como geometria.

🧪 Exemplo com coordenadas:

In [ ]:
CREATE INDEX idx_localizacao_gist
ON Localizacoes USING GiST (geometria);

✅ Ideal para:

- Dados geográficos (GIS).

- Pesquisas por proximidade.

------------------------------------------------------------

**🧠 5. SP-GiST (Space-partitioned GiST)**

📌 Uso:

Similar ao GiST, mas mais eficiente em certos tipos de dados como árvores ou grafos.

✅ Ideal para:

Estruturas com alto grau de ramificação ou não-uniformes.

------------------------------------------------------------

**📦 6. BRIN (Block Range Index)**

📌 Uso:

Indexa blocos de dados, não linhas individuais.

✅ Ideal para:

Tabelas muito grandes com dados ordenados fisicamente (ex: por data).

Economiza muito espaço.

🧪 Exemplo:

In [ ]:
CREATE INDEX idx_logs_data_brin
ON Logs USING BRIN (data_evento);

###**Explain Analyze**

Vamos falar sobre uma ferramenta essencial para performance em SQL, especialmente no PostgreSQL: o comando EXPLAIN ANALYZE. Ele é como uma lupa que mostra o que o banco de dados está fazendo por trás das consultas.

**🔍 O que é EXPLAIN?**

O comando EXPLAIN mostra o plano de execução que o PostgreSQL usará para realizar uma consulta.

Ele responde perguntas como:

- O PostgreSQL vai fazer um scan completo da tabela ou usar um índice?

- Vai fazer JOINs, filtros, ordenações?

- Qual será o custo estimado dessa operação?

**🚀 O que é EXPLAIN ANALYZE?**

Enquanto EXPLAIN prevê o que será feito, EXPLAIN ANALYZE executa realmente a consulta e mede:

- O tempo real gasto em cada etapa.

- A quantidade de linhas processadas.

- Se os estimadores estavam corretos ou não.

É ideal para diagnosticar gargalos de performance!

**📘 Sintaxe Básica**

In [ ]:
EXPLAIN ANALYZE
SELECT * FROM Clientes WHERE Nome = 'João';

**🧠 Exemplo Interpretado**

In [ ]:
EXPLAIN ANALYZE
SELECT * FROM Produtos WHERE Nome = 'Mouse Gamer';

🔍 Saída (exemplo):

In [ ]:
Seq Scan on produtos  (cost=0.00..35.50 rows=5 width=42) (actual time=0.023..0.024 rows=1 loops=1)
  Filter: (nome = 'Mouse Gamer'::text)
  Rows Removed by Filter: 99
Planning Time: 0.060 ms
Execution Time: 0.040 ms

🧩 O que tudo isso significa?

In [ ]:
#Campo	                    #Significado
Seq Scan	                | Foi feito um scan sequencial (linha por linha). Não usou índice.
cost=0.00..35.50	        | Custo estimado (inicial..final) da consulta.
rows=5	                  | Estimativa de linhas que seriam retornadas.
actual time=0.023..0.024	| Tempo real gasto na execução da consulta.
Rows Removed by Filter	  | Quantas linhas foram avaliadas mas descartadas pelo WHERE.
Execution Time	          | Tempo total da consulta (em milissegundos).

**⚡ Por que usar EXPLAIN ANALYZE?**

- Para descobrir se seus índices estão sendo usados.

- Para detectar scans desnecessários.

- Para melhorar consultas lentas.

- Para entender como o PostgreSQL processa subqueries, joins, agrupamentos etc.

**🛠️ Dicas de uso**

- 1 Use com cautela: o comando executa a consulta de verdade, então evite em comandos que alteram dados como DELETE, UPDATE.

- 2 Para esses casos, você pode usar:

In [ ]:
EXPLAIN ANALYZE
SELECT * FROM Pedidos WHERE ClienteID = 42;

- 3 Para UPDATE, use uma transação de teste ou o ROLLBACK depois.

**🧪 Exemplo com JOIN**

In [ ]:
EXPLAIN ANALYZE
SELECT p.ID, p.DataPedido, c.Nome
FROM Pedidos p
JOIN Clientes c ON p.ClienteID = c.ID
WHERE c.Nome = 'Maria Oliveira';

Você vai ver se o PostgreSQL está fazendo:

- Nested Loop

- Hash Join

- Index Scan ou Seq Scan